<div class="container-fluid">
    <div class="row-fluid page-head-image">
        <div class="span7">
            <img class="img-border pull-left" src="images/page-icon_gwt.png" width="57" height="57" alt="">
            <h1 class="pull-left">Global Workforce Team</h1>
        </div>
        <div class="span5">
            <div class="pull-right">
                <div class="btn-group">
                    <button class="btn btn-large"><i class="icon-caret-left"></i></button>
                    <button class="btn btn-large" ng-change="change()" ng-model="datepicker.date" id="date-end" data-date-format="MM d" bs-datepicker style="width: 10em">Today</button>
                    <button class="btn btn-large disabled"><i class="icon-caret-right"></i></button>
                </div>
                <div class="btn-group" data-toggle="buttons-radio">
                    <a class="btn btn-large" ng-class="{active:reportView == 'daily'}" ng-href="/#/daily">Day</a>
                    <a class="btn btn-large" ng-class="{active:reportView == 'weekly'}" ng-href="/#/weekly">Week</a>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container-fluid">
    <div class="well well-small">
        <table class="table-timeline table-timeline-day table-hover table-sort">
            <thead>
            <tr>
                <th class="head-sort" data-sort="status">... <span class="sort icon-sort"></span></th>
                <th>Names</th>
                <th>Time worked</th>
                <th class="head-timeline">2am</th>
                <th class="head-timeline">4am</th>
                <th class="head-timeline">6am</th>
                <th class="head-timeline">8am</th>
                <th class="head-timeline">10am</th>
                <th class="head-timeline">12pm</th>
                <th class="head-timeline">2pm</th>
                <th class="head-timeline">4pm</th>
                <th class="head-timeline">6pm</th>
                <th class="head-timeline">8pm</th>
                <th class="head-timeline">10pm</th>
                <th class="head-timeline">12am</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in usersdaily.list">
                <td><span class="ico-status ico-status-{{user.status}}">{{user.status}}</span></td>
                <td>
                    <div class="user-info">
                        <img src="{{user.avatar}}" alt="{{user.name}}" class="user-avatar">
                        <a href="#" class="user-name">{{user.name}}</a>
                        <div class="status-info status-info-{{user.status}}">{{user.statusinfo}}</div>
                    </div>
                    <span ng-show="user.additionalstatus" class="ico-status-additional {{user.additionalstatus.icon}} tooltipster" title="{{user.additionalstatus.text}}">&nbsp;</span>
                </td>
                <td>{{user.totaltime}}</td>
                <td ng-repeat="n in [] | range:12" class="cell-timeline">
                    <div class="timebar-holder" two-hours-time-bar hour="{{n*2}}" timeline="user.timeline"></div>
                </td>
            </tr>
            </tbody>
        </table>
        <ul class="list-timebar-legend">
            <li>Computer Work Time</li>
            <li>Mobile Work Time</li>
            <li>Edited Time</li>
        </ul>
    </div>
</div>

